body{
  text-align: center;
  /* background: black;
  color: white; */
}
.container{
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  text-align: center;
}
.top{
  width: 100vw;
  height: 15vh;
  line-height: 15vh;
  font-size: 5vh;
  text-align: center;
  flex-grow: 1;
}
.middle{
  width: 100vw;
  height: 15vh;
  line-height: 15vh;
  text-align: center;
  flex-grow: 1;
}
.middle2{
  width: 100vw;
  height: 15vh;
  line-height: 2vh;
  text-align: center;
  flex-grow: 1;
}
.givenChar{
  font-family: monospace;
  font-size: 45px;
}
.response{
  height: 7vh;
  flex-grow: 1;
}
.listTitle{
  font-size: 30px;
  height: 5vh;
  flex-grow: 1;
}
.list{
  font-size: 20px;
  flex-grow: 1;
}

input[type = "text"]{
  font-size: 45px;
  text-align: center;
  font-family: monospace;
  /* color: white;
  background: black; */
}
button{
  font-size: 30px;
  font-family:sans-serif;
}
